/*
-------------------------- Estilos Root ---------------------
autor: WIlson Brandão, Gabriel Murata e Gabriel Meira 
Obs: Feito via call no Discod
*/

:root {
    --background-color: #2d2d2d;
}

html {
    font-family: 'Inter', sans-serif;
}

/*
-------------------------- Estilos Header ---------------------
autor: WIlson Brandão, Gabriel Murata e Gabriel Meira 
Obs: Feito via call no Discod
*/
header{
    background-image: 
                        linear-gradient(rgba(5, 5, 5, 0.85), 
                        rgba(5, 5, 5, 0.4), rgba(5, 5, 5,0.99) 100%), 
                        url(../images/banner-header-estudante.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* navbar */
navbar {
    background-color: rgba(2,6,37);
    display:flex;
    color: white;
    justify-content:end;
    width: 100%;
    min-height: 90px;
}

navbar .navbar-items{
    display:flex;
    flex-direction: row;
    list-style: none;
    font-weight: bold;
    margin-right: 40px;
    justify-content: center;
    align-items: center;

}

navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

navbar a:hover {
    color: #26a9e0;
}

navbar .navbar-item{
    padding: 20px 20px;
}

navbar .navbar-item .btn-navbar{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color:  #FFFFFF;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
}

navbar .navbar-item .btn-navbar:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}


/* welcome area */
.welcome-container {
    width: 60%;
    margin: 20% 5% 20% 5%;
    color: white;
}

.welcome-container h1 {
    font-size: 5rem;
    font-weight: bold;
}

.welcome-container p {
    font-size: 1.2rem;
    line-height: 130%;
    padding-right: 15%;
    margin-top: 10px;
}

.welcome-container button a {
    text-decoration: none;
    color: black;
}

.welcome-container button {
    font-weight: bold;
    background-color:  #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    margin-top: 10px;
}

.welcome-container button:hover {
    background-color:  #26a9e0;
    cursor: pointer;
    color: white;
}

.welcome-container button:hover a {
    color: white;
}


/*
-------------------------- Estilos Conteúdo principal ---------------------
autor: WIlson Brandão, Gabriel Murata e Gabriel Meira 
Obs: Feito via call no Discod
*/
main {
    display: flex;
    flex-direction: column;
}


/* Section Quick Access */
section.quickAccess{
    background-color: #020625;
    height: 350px;
    padding: 15px 0px 0px 0px;
}

section.quickAccess .quickAccess-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
section.quickAccess .quickAccess-container > p {
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: .8rem;
    
}

.quickCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.quickCard {
    box-sizing: border-box;
    width: 17%;
    height:280px;
    min-width: 200px;

    background-color: rgb(252, 252, 252);
    border-radius: 15px;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4% 2.5%;

    box-shadow: 4px 4px 9px 2px rgba(0, 0, 0, 0.95);
}

.quickCard > p {
    display: block;
    color: #1a1b23;
    font-weight: bold;

    font-size: 1.2rem;
    text-align: center;
    ;
}
.quickCard img {
    width: 40%;
}

.quickCard:hover {
    background-color: #26a9e0;
    border: black 1px solid;
    cursor: pointer;

}

.quickCard:hover > p {
    color: white;

}

/* Section Happeing At the School  */
section.happening {
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    padding-top: 20px;
}

section.happening .happening-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;

    background-color: white;
    color: black;
}

section.happening .happening-container > ul {
    display: flex;
    flex-direction: row;
}

.happening-items .happening-item:nth-child(1){
    background-color: black;
    width: 500px;
    height: 450px;
    margin: 40px 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), 
    rgba(45, 45, 45, 0.4), rgba(45, 45, 45,0.99) 100%), url(../images/section-happening/post1.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid white;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #1A1B23;
}

.happening-item:nth-child(1) p:first-child{
    font-size: 1rem;
    font-weight: 400;
    color: white;
    padding: 10px 0px 10px 5px;
}

.happening-item:nth-child(1) p:last-child{
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    padding: 0px 0px 10px 5px
}


.happening-items .happening-item:nth-child(2){
    width: 500px;
    height: 450px;
    margin: 40px 10px;
}

.happening-items .happening-item:nth-child(3){
    background-color: black;
    width: 320px;
    height: 450px;
    margin: 40px 0px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.85), 
    rgba(45, 45, 45, 0.4), rgba(45, 45, 45,0.99) 100%), url(../images/section-happening/post5.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid white;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #1A1B23;
}

.happening-item:nth-child(3) p:first-child{
    font-size: 1rem;
    font-weight: 400;
    color: white;
    padding: 10px 0px 10px 5px;
}

.happening-item:nth-child(3) p:last-child{
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    padding: 0px 0px 10px 5px
}


.happening-items .happening-item ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}



.happening-items .happening-item ul li:nth-child(1){
    width: 235px;
    height: 215px;
    margin-right: 15px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.85), 
    rgba(45, 45, 45, 0.4), rgba(45, 45, 45,0.99) 100%), url(../images/section-happening/post2.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid white;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #1A1B23;
}

.happening-items .happening-item ul li:nth-child(2){
    width: 235px;
    height: 215px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.85), 
    rgba(45, 45, 45, 0.4), rgba(45, 45, 45,0.99) 100%), url(../images/section-happening/post3.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid white;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #1A1B23;
}
.happening-items .happening-item ul li:nth-child(3){
    width: 500px;
    height: 220px;
    margin-top: 10px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.85), 
    rgba(45, 45, 45, 0.4), rgba(45, 45, 45,0.99) 100%), url(../images/section-happening/post4.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid white;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #1A1B23;
}

.happening-items .happening-item a {
    text-decoration: none;
    color: white;
}

.happening-items .happening-item a:hover {
    text-decoration: none;
    color: #26a9e0;
}


.happening-item p:first-child{
    font-size: 1rem;
    font-weight: 400;
    color: white;
    padding: 10px 0px 10px 5px;
}

.happening-item p:last-child{
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    padding: 0px 0px 10px 5px
}


/* Section Green Hall */
section.greenHall {
    background-color: #020625;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
}
.greenHall-container {
    padding-top: 25px;
}
.greenHall-container .greenHall-items{
    display: flex;
    flex-direction: row;
    justify-content: center;  
    align-items: center;
    box-sizing: border-box;
    width: 1400px;
    height: 85%;
}

.greenHall-items .greenHall-item:first-child {
    margin-right: 50px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.greenHall-items .greenHall-item:first-child  p:nth-child(1){
    margin-bottom: 20px;
}

.greenHall-items .greenHall-item:first-child  p:nth-child(2){
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
    line-height: 1.75rem;
    margin-bottom: 20px;
}

.btn-exhibitions {
   padding: 10px 10px;
    width: 200px;
    border-radius: 5px;
    background-color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.btn-exhibitions:hover {
    background-color: #26a9e0;
    color: white;
    cursor: pointer;
}

.greenHall-items .greenHall-item > img{
    border: 1px solid grey;
    max-width: 50vw;
    max-height: 85vh;
    
}


/*Community-schoolNews-container  */
.community-schoolNews-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    height: 600px;
    background-color: #020625;
}

.community-schoolNews-container h2 {
    margin-top: 30px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.posts-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.bulletin-post {
    background-color: white;
    padding: 20px;
    margin: 30px 50px 0px 0px;
    border-radius: 15px;
    box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.60);
    width: 700px;
}

.bulletin-post-contents {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.bulletin-post-contents li:first-child {
    background-color: orange;
    border-radius: 15px 0px 0px 15px;
    height: 100%;
    width: 20px;
}
.bulletin-post-contents li:nth-child(2) {
    margin: auto;
    padding: 0px 20px;
}

.bulletin-post-contents li:nth-child(3) p:first-child,
.bulletin-post-contents li:nth-child(2) p:first-child  {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.bulletin-post-contents li:nth-child(3) p:last-child{
    text-align: justify;
    line-height: 120%;
}


.schoolNews {
    margin-left: 10px;
    width: 650px;
}

.schoolNews p {
    font-size: 1.2rem;
    line-height: 125%;
    color: white;
    margin: 15px 0px;
}

.schoolNews p strong{
    font-weight: bold;
}

.newsContainer ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

.newsContainer ul li {
    background: white;
    width: 400px;
    height: 300px;
    margin: 0px 10px;
    box-sizing: border-box;
}

.newsContainer ul li:first-child {
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.85), 
    rgba(45, 45, 45, 0.4), rgba(45, 45, 45,0.99) 100%),
     url(../images/section-news/news-virtual-open-studio.png);
     background-position: center;
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
     padding-left: 10px;
    
}

.newsContainer ul li:last-child {
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.10), 
    rgba(45, 45, 45, 0.4), rgba(45, 45, 45,0.99) 100%),
     url(../images/section-news/news-no-white-walls.png);
     background-position: center;
     background-size: cover;
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
     padding-left: 10px;
}

.newsContainer ul li > p {
    font-size: 1rem;
    margin: 0px;
}

.newsContainer ul li a > p:last-child {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0px 0px 15px;
}

.newsContainer ul li a > p:last-child:hover {
    color: #26a9e0;
}

















/*Section Receive Transmissions */
section.receiveTransmissions {
    background-color: white;
    height: 300px;
    display: flex;
    align-items: center;
}

.receive-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: auto;   
    
}

.receive-container p {
    font-size: 2rem;
    font-weight: bold;
    color: black;
}

.receive-container .receive-sendbox {
    display: flex;
    align-items: center;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid black;
    margin-top: 20px;
}

.receive-container input {
    background-color: transparent;
    border-radius: 10px;
    border: none;
    width: 600px;
    height: 60px;
  
    padding-left: 30px;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    color: black;
}

.receive-container input:focus-visible{
    border: transparent;
    background-color: transparent;
}


.receive-container input::placeholder {
    font-size: 1.2rem;
    color: black;
    opacity: 60%;
}

.receive-container img {
    width: 50px;
}

/*
-------------------------- Estilos Footer ---------------------
autor: WIlson Brandão, Gabriel Murata e Gabriel Meira 
Obs: Feito via call no Discod
*/

footer {
    background-color: #020625;
    color: white;
    height: 600px;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

footer a:hover {
    color:#26a9e0;
}

.footer-container {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    
}
.footer-container ul > li{
    margin: 0px 250px 30px 0px;
}

footer ul li:first-child {
    font-size: 1.2rem;
    font-weight: bold;
} 

footer hr {
    width: 80%;
    margin-bottom: 20px;
    border: 1px solid gray;
}   

footer > p {
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    font-size: 1rem;
    color: white;
}


