html {
    font-family: 'Inter', sans-serif;
}

/* ---------- header ---------- */
header{
    background-image: 
                        linear-gradient(rgba(0, 0, 0, 0.85), 
                        rgba(45, 45, 45, 0.4), rgba(45, 45, 45,0.99) 100%), 
                        url(../images/banner-header-estudante.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* navbar */
navbar {
    display:flex;
    color: white;
    justify-content:end;
    position: fixed;
    top: 0;
    width: 100%;
}

navbar .navbar-items{
    display:flex;
    flex-direction: row;
    list-style: none;
    font-weight: bold;
    margin-right: 40px;
    justify-content: center;
    align-items: center;

}

navbar .navbar-item{
    padding: 20px 20px;
}

navbar .navbar-item .btn-navbar{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color:  #FFFFFF;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
}


/* welcome area */
.welcome-container {
    width: 60%;
    margin: 20% 5% 20% 5%;
    color: white;
}

.welcome-container h1 {
    font-size: 5rem;
    font-weight: bold;
}

.welcome-container p {
    font-size: 1.2rem;
    line-height: 130%;
    padding-right: 15%;
    margin-top: 10px;
}

.welcome-container button {
    font-weight: bold;
    background-color:  #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    margin-top: 10px;
}


/* ---------- Main ---------- */
main {
    display: flex;
    flex-direction: column;
}


/* Section Quick Access */
section.quickAccess{
    background-color:rgb(45, 45, 45);
    height: 350px;
}

section.quickAccess .quickAccess-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
section.quickAccess .quickAccess-container > p {
    color: white;
    font-weight: 300;
    margin-bottom: 10px;
    font-size: .8rem;
    
}

.quickCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.quickCard {
    box-sizing: border-box;
    width: 15%;
    height:280px;
    min-width: 15%;

    background-color: rgb(252, 252, 252);
    border-radius: 15px;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4% 2.5%;

    box-shadow: 4px 4px 9px 2px rgba(0, 0, 0, 0.95);
}

/*-------------------------------------- ALINHAR TEXTO DOS CARDS PELO TOPO -------------------*/
.quickCard > p {
    display: block;
    color: #1A1B23;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    ;
}
.quickCard img {
    width: 40%;
}

/*Section Happeing */


















section.happening {
    background-color: #EEAB00;
    height: 600px;
}

section.greenHall {
    background-color: #D9D9D9;
    height: 600px;
}

section.communityBulletin {
    background-color: #7000FF;
    height: 600px;
}

section.receiveTransmissions {
    background-color: #FFB660;
    height: 300px;
}

footer {
    background-color: #7F83E0;
    height: 600px;
}
