:root {
    --background-color: #2d2d2d;
}

html {
    font-family: 'Inter', sans-serif;
}

/* ---------- header ---------- */
header{
    background-image: 
                        linear-gradient(rgba(5, 5, 5, 0.85), 
                        rgba(5, 5, 5, 0.4), rgba(5, 5, 5,0.99) 100%), 
                        url(../images/banner-header-estudante.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* navbar */
navbar {
    background-color: rgba(0,0,0,0.3);
    display:flex;
    color: white;
    justify-content:end;
    position: fixed;
    top: 0;
    width: 100%;
}

navbar .navbar-items{
    display:flex;
    flex-direction: row;
    list-style: none;
    font-weight: bold;
    margin-right: 40px;
    justify-content: center;
    align-items: center;

}

navbar .navbar-item{
    padding: 20px 20px;
}

navbar .navbar-item .btn-navbar{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color:  #FFFFFF;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
}


/* welcome area */
.welcome-container {
    width: 60%;
    margin: 20% 5% 20% 5%;
    color: white;
}

.welcome-container h1 {
    font-size: 5rem;
    font-weight: bold;
}

.welcome-container p {
    font-size: 1.2rem;
    line-height: 130%;
    padding-right: 15%;
    margin-top: 10px;
}

.welcome-container button {
    font-weight: bold;
    background-color:  #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    margin-top: 10px;
}


/* ---------- Main ---------- */
main {
    display: flex;
    flex-direction: column;
}


/* Section Quick Access */
section.quickAccess{
    background-color: rgb(5, 5,5);
    height: 350px;
}

section.quickAccess .quickAccess-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
section.quickAccess .quickAccess-container > p {
    color: white;
    font-weight: 300;
    margin-bottom: 10px;
    font-size: .8rem;
    
}

.quickCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.quickCard {
    box-sizing: border-box;
    width: 17%;
    height:280px;
    min-width: 200px;

    background-color: rgb(252, 252, 252);
    border-radius: 15px;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4% 2.5%;

    box-shadow: 4px 4px 9px 2px rgba(0, 0, 0, 0.95);
}

/*-------------------------------------- ALINHAR TEXTO DOS CARDS PELO TOPO -------------------*/
.quickCard > p {
    display: block;
    color: #1A1B23;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    ;
}
.quickCard img {
    width: 40%;
}



/*----------- Section Happeing At the School ----------- */
section.happening {
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    padding-top: 20px;
}

section.happening .happening-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;

    background-color: white;
    color: black;
}

section.happening .happening-container > ul {
    display: flex;
    flex-direction: row;
}

.happening-items .happening-item:nth-child(1){
    background-color: black;
    width: 500px;
    height: 450px;
    margin: 40px 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), 
    rgba(45, 45, 45, 0.4), rgba(45, 45, 45,0.99) 100%), url(../images/section-happening/post1.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid white;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #1A1B23;
}

.happening-item:nth-child(1) p:first-child{
    font-size: 1rem;
    font-weight: 400;
    color: white;
    padding: 10px 0px 10px 5px;
}

.happening-item:nth-child(1) p:last-child{
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    padding: 0px 0px 10px 5px
}


.happening-items .happening-item:nth-child(2){
    width: 500px;
    height: 450px;
    margin: 40px 10px;
}

.happening-items .happening-item:nth-child(3){
    background-color: black;
    width: 320px;
    height: 450px;
    margin: 40px 0px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.85), 
    rgba(45, 45, 45, 0.4), rgba(45, 45, 45,0.99) 100%), url(../images/section-happening/post5.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid white;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #1A1B23;
}

.happening-item:nth-child(3) p:first-child{
    font-size: 1rem;
    font-weight: 400;
    color: white;
    padding: 10px 0px 10px 5px;
}

.happening-item:nth-child(3) p:last-child{
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    padding: 0px 0px 10px 5px
}


.happening-items .happening-item ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.happening-items .happening-item ul li:nth-child(1){
    width: 235px;
    height: 215px;
    margin-right: 15px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.85), 
    rgba(45, 45, 45, 0.4), rgba(45, 45, 45,0.99) 100%), url(../images/section-happening/post2.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid white;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #1A1B23;
}

.happening-items .happening-item ul li:nth-child(2){
    width: 235px;
    height: 215px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.85), 
    rgba(45, 45, 45, 0.4), rgba(45, 45, 45,0.99) 100%), url(../images/section-happening/post3.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid white;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #1A1B23;
}
.happening-items .happening-item ul li:nth-child(3){
    width: 500px;
    height: 220px;
    margin-top: 10px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.85), 
    rgba(45, 45, 45, 0.4), rgba(45, 45, 45,0.99) 100%), url(../images/section-happening/post4.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid white;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #1A1B23;
}

.happening-item p:first-child{
    font-size: 1rem;
    font-weight: 400;
    color: white;
    padding: 10px 0px 10px 5px;
}

.happening-item p:last-child{
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    padding: 0px 0px 10px 5px
}


/*Section Green Hall */
section.greenHall {
    background-color: #020625;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.greenHall-container .greenHall-items{
    display: flex;
    flex-direction: row;
    justify-content: center;  
    align-items: center;
    box-sizing: border-box;
    width: 1400px;
    height: 85%;
}

.greenHall-items .greenHall-item:first-child {
    margin-right: 50px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.greenHall-items .greenHall-item:first-child  p:nth-child(1){
    margin-bottom: 20px;
}

.greenHall-items .greenHall-item:first-child  p:nth-child(2){
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
    line-height: 1.75rem;
    margin-bottom: 20px;
}

.btn-exhibitions {
   padding: 10px 10px;
    width: 200px;
    border-radius: 5px;
    background-color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.greenHall-items .greenHall-item > img{
    border: 1px solid grey;
    max-width: 50vw;
    max-height: 85vh;
}


/*Section Receive Transmissions */
section.receiveTransmissions {
    background-color: white;
    height: 300px;
    display: flex;
    align-items: center;
}

.receive-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: auto;   
    
}

.receive-container p {
    font-size: 2rem;
    font-weight: bold;
    color: black;
}

.receive-container input {
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid black;
    width: 600px;
    height: 60px;
    margin-top: 20px;
    padding-left: 30px;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    color: black;
}


.receive-container input::placeholder {
    font-size: 1.2rem;
    color: black;
    opacity: 60%;
}


section.communityBulletin {
    background-color: #7000FF;
    height: 600px;
}


footer {
    background-color: #020625;
    color: white;
    height: 600px;
}

.footer-container {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    
}
.footer-container ul > li{
    margin: 0px 250px 50px 0px;
}

.footer-container form {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.footer-container form .form-item {
    margin: 0px 0px 40px 100px;
}

.footer-container form input.form-item {
    height: 40px;
}
